.container {
  margin-top: var(--spacing-sm);
}

.bar {
  height: var(--spacing-xs);
  background-color: var(--color-gray-300);
  border-radius: var(--radius-sm);
  overflow: hidden;
  margin-bottom: var(--spacing-xs);
}

.fill {
  height: 100%;
  transition: all var(--transition-normal);
}

.fillWeak {
  width: 33%;
}

.fillMedium {
  width: 66%;
}

.fillStrong {
  width: 100%;
}

.text {
  font-size: var(--font-xs);
  font-weight: var(--font-semibold);
}